In [6]:
import pandas as pd
import numpy as np

1. Write a Python program to create and display a one-dimensional array-like object
containing an array of data using Pandas module.

In [68]:
'''

@Author:Naveen Madev Naik
@Date: 2024-08-08
@Last Modified by: Naveen Madev Naik
@Last Modified time: 2024-08-08 
@Title :Python program to create and display a one-dimensional array-like object
        containing an array of data using Pandas module.

'''


def main():
    try:
        array_list=[1,4,6,7,8,9,10]

        data=pd.array(array_list)
        print(data)
    
    except ValueError as e:
        print(f"Invalid input -->{e}")    

if __name__=="__main__":
    main()

<IntegerArray>
[1, 4, 6, 7, 8, 9, 10]
Length: 7, dtype: Int64

2. Write a Python program to convert a Panda module Series to Python list and it's type.

In [3]:
'''

@Author:Naveen Madev Naik
@Date: 2024-08-08
@Last Modified by: Naveen Madev Naik
@Last Modified time: 2024-08-08 
@Title :Python program to convert a Panda module Series to Python list and it's type.

'''


def main():
    try:

        data = [10, 20, 30, 40, 50]

        series = pd.Series(data)

        data_list = series.tolist()

        print("Python List:")
        print(data_list)
        print("Type of the list:")
        print(type(data_list))
    
    except ValueError as e:
        print(f"Invalid input -->{e}")    

if __name__=="__main__":
    main()

Python List:
[10, 20, 30, 40, 50]
Type of the list:
<class 'list'>

3. Write a Python program to add, subtract, multiple and divide two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [5]:
'''

@Author:Naveen Madev Naik
@Date: 2024-08-08
@Last Modified by: Naveen Madev Naik
@Last Modified time: 2024-08-08 
@Title :Python program to add, subtract, multiple and divide two Pandas Series.

'''


def arithmetic_operation(series1,series2):
    
    """
    Description:
        function will print the all the arithmetic operation output of two pandas series

    Parameter:
        series1,series2:will do arithmetic operation on these panadas series

    Return:
        None
    """

    addition = series1 + series2

    subtraction = series1 - series2

    multiplication = series1 * series2

    division = series1 / series2

    print("Addition:")
    print(addition)
    print("\nSubtraction:")
    print(subtraction)
    print("\nMultiplication:")
    print(multiplication)
    print("\nDivision:")
    print(division)

def main():
    try:

        data1 = [2, 4, 6, 8, 10]

        data2 = [1, 3, 5, 7, 9]

        series1 = pd.Series(data1,name="Series1")

        series2 =pd.Series(data2,name="Series2")

        arithmetic_operation(series1,series2)
    
    except ValueError as e:
        print(f"Invalid input -->{e}")    

if __name__=="__main__":
    main()

Addition:
0     3
1     7
2    11
3    15
4    19
dtype: int64

Subtraction:
0    1
1    1
2    1
3    1
4    1
dtype: int64

Multiplication:
0     2
1    12
2    30
3    56
4    90
dtype: int64

Division:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

4. Write a Python program to get the powers of an array values element-wise.
Note: First array elements raised to powers from second array
Expected Output:
Original array
[0 1 2 3 4 5 6]
First array elements raised to powers from second array, element-wise:
[ 0 1 8 27 64 125 216]

In [9]:
'''

@Author:Naveen Madev Naik
@Date: 2024-08-08
@Last Modified by: Naveen Madev Naik
@Last Modified time: 2024-08-08 
@Title :Python program to get the powers of an array values element-wise.

'''


def powers_of_array(array1,array2):
    
    """
    Description:
        function will print the power of an array values element wise.

    Parameter:
        array1,array2:will use these two array two calculate power

    Return:
        None
    """
    print("First array elements raised to powers from second array, element-wise: ")
    
    result=array1**array2
    print(result)



def main():
    try:
        data1=[0,1,2,3,4,5,6]
        data2=[3,3,3,3,3,3,3]

        array1=pd.array(data1)
        print("Original Array: ")
        print(array1)

        array2=pd.array(data2)

        powers_of_array(array1,array2)
        
    except ValueError as e:
        print(f"Invalid input -->{e}")    

if __name__=="__main__":
    main()

Original Array:
<IntegerArray>
[0, 1, 2, 3, 4, 5, 6]
Length: 7, dtype: Int64
First array elements raised to powers from second array, element-wise:
<IntegerArray>
[0, 1, 8, 27, 64, 125, 216]
Length: 7, dtype: Int64

5. Write a Python program to create and display a DataFrame from a specified dictionary
data which has the index labels.
Sample Python dictionary data and list labels:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [11]:
'''

@Author:Naveen Madev Naik
@Date: 2024-08-08
@Last Modified by: Naveen Madev Naik
@Last Modified time: 2024-08-08 
@Title :Python program to create and display a DataFrame from a specified dictionary
        data which has the index labels.

'''


def main():
    try:
        exam_data = {
            'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
                    'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

        labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
        data=pd.DataFrame(exam_data,index=labels)
        print(data)
        
    except ValueError as e:
        print(f"Invalid input -->{e}")    

if __name__=="__main__":
    main()

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

6. Write a Python program to display a summary of the basic information about a
specified Data Frame and its data.
Sample Python dictionary data and list labels:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [13]:
'''

@Author:Naveen Madev Naik
@Date: 2024-08-08
@Last Modified by: Naveen Madev Naik
@Last Modified time: 2024-08-08 
@Title :Python program to display a summary of the basic information about a
        specified Data Frame and its data.

'''


def display_info(exam_data,labels):

    """
    Description:
        Function will return info about the specific data frame and its data

    Parameter:
        exam_data:convert this dictionary to dataframe
        labels:will use this label as index of dataframes

    Return:
        None
    
    """
    data=pd.DataFrame(exam_data,index=labels)
    print(data.info())


def main():
    try:
        exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
                    'Laura', 'Kevin', 'Jonas'],
                    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
                    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}    

        labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
        display_info(exam_data,labels)
            
    except ValueError as e:
        print(f"Invalid input -->{e}")    

if __name__=="__main__":
    main()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

7. Write a Python program to get the first 3 rows of a given DataFrame.
Sample Python dictionary data and list labels:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [19]:
'''

@Author:Naveen Madev Naik
@Date: 2024-08-08
@Last Modified by: Naveen Madev Naik
@Last Modified time: 2024-08-08 
@Title :Python program to get the first 3 rows of a given DataFrame.

'''


def get_data_frame(exam_data,labels,row):

    """
    Description:
        Function will print first n number of rows

    Parameter:
        exam_data:convert this dictionary to dataframe
        labels:will use this label as index of dataframes

    Return:
        None
    
    """
    data=pd.DataFrame(exam_data,index=labels)
    print(data.head(row))


def main():
    try:
        exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
                    'Laura', 'Kevin', 'Jonas'],
                    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
                    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}    

        labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    
        get_data_frame(exam_data,labels,3)
            
    except ValueError as e:
        print(f"Invalid input -->{e}")    

if __name__=="__main__":
    main()

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

8. Write a Python program to select the 'name' and 'score' columns from the following
DataFrame.
Sample Python dictionary data and list labels:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [22]:
'''

@Author:Naveen Madev Naik
@Date: 2024-08-08
@Last Modified by: Naveen Madev Naik
@Last Modified time: 2024-08-08 
@Title :Python program to select the 'name' and 'score' columns from the following DataFrame.

'''


def get_data_frame(exam_data,labels):

    """
    Description:
        Function will print the name and age column only in the dataframe

    Parameter:
        exam_data:convert this dictionary to dataframe
        labels:will use this label as index of dataframes

    Return:
        None
    
    """
    data=pd.DataFrame(exam_data,index=labels)
    print(data[["name","score"]])


def main():
    try:
        exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
                    'Laura', 'Kevin', 'Jonas'],
                    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
                    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}    

        labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    
        get_data_frame(exam_data,labels)
            
    except ValueError as e:
        print(f"Invalid input -->{e}")    

if __name__=="__main__":
    main()

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

9. Write a Python program to select the specified columns and rows from a given data
frame.
Select 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [24]:
'''

@Author:Naveen Madev Naik
@Date: 2024-08-08
@Last Modified by: Naveen Madev Naik
@Last Modified time: 2024-08-08 
@Title :Python program to select the 'name' and 'score' columns from the following DataFrame.

'''


def get_data_frame(exam_data,labels,row,col):

    """
    Description:
        Function will print select the specific row and coloumn

    Parameter:
        exam_data:convert this dictionary to dataframe
        labels:will use this label as index of dataframes
        row:help to select specific row
        col:help to select specific column

    Return:
        None
    
    """
    data=pd.DataFrame(exam_data,index=labels)
    print(data.loc[row, col])


def main():
    try:
        exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
                    'Laura', 'Kevin', 'Jonas'],
                    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
                    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}    

        labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
        row=['b','d','f','g']
        col=['name','score']
        get_data_frame(exam_data,labels,row,col)
            
    except ValueError as e:
        print(f"Invalid input -->{e}")    

if __name__=="__main__":
    main()

      name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5

10. Write a Python program to select the rows where the number of attempts in the
examination is greater than 2.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [27]:
'''

@Author:Naveen Madev Naik
@Date: 2024-08-08
@Last Modified by: Naveen Madev Naik
@Last Modified time: 2024-08-08 
@Title :Python program to select the rows where the number of attempts in the
        examination is greater than 2.

'''


def get_attempts(exam_data,labels,attempt):

    """
    Description:
        Function will print select specific row where attempts is greater than 2

    Parameter:
        exam_data:convert this dictionary to dataframe
        labels:will use this label as index of dataframes
        attempt:get the row in which attemps is greater than attempt

    Return:
        None
    
    """
    data=pd.DataFrame(exam_data,index=labels)
    print(data[data['attempts']>attempt])


def main():
    try:
        exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
                    'Laura', 'Kevin', 'Jonas'],
                    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
                    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}    

        labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

        get_attempts(exam_data,labels,2)
            
    except ValueError as e:
        print(f"Invalid input -->{e}")    

if __name__=="__main__":
    main()

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

11. Write a Python program to count the number of rows and columns of a DataFrame.
Sample data:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [28]:
'''

@Author:Naveen Madev Naik
@Date: 2024-08-08
@Last Modified by: Naveen Madev Naik
@Last Modified time: 2024-08-08 
@Title :Python program to count the number of rows and columns of a DataFrame.

'''


def count_row_col(data):

    """
    Description:
        Function will print number of rows and column in the dataframe

    Parameter:
        data:this is in dataframe format 

    Return:
        None
    
    """
    
    num_rows, num_columns = data.shape

    print("Number of rows:", num_rows)
    print("Number of columns:", num_columns)


def main():
    try:
        exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
                    'Laura', 'Kevin', 'Jonas'],
                    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
                    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}    

        labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
        data=pd.DataFrame(exam_data,index=labels)
        count_row_col(data)
            
    except ValueError as e:
        print(f"Invalid input -->{e}")    

if __name__=="__main__":
    main()

Number of rows: 10
Number of columns: 4

12. Write a Python program to select the rows where the score is missing, i.e. is NaN.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [32]:
'''

@Author:Naveen Madev Naik
@Date: 2024-08-08
@Last Modified by: Naveen Madev Naik
@Last Modified time: 2024-08-08 
@Title : Python program to select the rows where the score is missing, i.e. is NaN.

'''


def select_missig_score(data):

    """
    Description:
        Function will print rows where score is missing

    Parameter:
        data:this is in dataframe format 

    Return:
        None
    
    """
    
    print("Rows where the score is missing: ")
    print(data[data['score'].isna()])

def main():
    try:
        exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
                    'Laura', 'Kevin', 'Jonas'],
                    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
                    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}    

        labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
        data=pd.DataFrame(exam_data,index=labels)
        select_missig_score(data)
            
    except ValueError as e:
        print(f"Invalid input -->{e}")    

if __name__=="__main__":
    main()

Rows where the score is missing:
    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

13. Write a Python program to select the rows where number of attempts in the
examination is less than 2 and score greater than 15.

In [37]:
'''

@Author:Naveen Madev Naik
@Date: 2024-08-08
@Last Modified by: Naveen Madev Naik
@Last Modified time: 2024-08-08 
@Title : Python program to select the rows where number of attempts in the
        examination is less than 2 and score greater than 15.

'''


def select_rows(data,attempt,score):

    """
    Description:
        Function will print rows where attempts is less than 2 and score greater than 15

    Parameter:
        data:this is in dataframe format
        attempt:will get the rows based on the attempt 
        score:will get the rwos based on the score

    Return:
        None
    
    """
    
    print("Rows where the number of attempts is less than 2 and score greter than 15: ")
    print(data[(data['score']>score) & (data['attempts']<2)])

def main():
    try:
        exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
                    'Laura', 'Kevin', 'Jonas'],
                    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
                    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}    

        labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
        data=pd.DataFrame(exam_data,index=labels)
        select_rows(data,2,15)
            
    except ValueError as e:
        print(f"Invalid input -->{e}")    

if __name__=="__main__":
    main()

Rows where the number of attempts is less than 2 and score greter than 15:
    name  score  attempts qualify
j  Jonas   19.0         1     yes

14. Write a Python program to change the score in row 'd' to 11.5.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [41]:
'''

@Author:Naveen Madev Naik
@Date: 2024-08-08
@Last Modified by: Naveen Madev Naik
@Last Modified time: 2024-08-08 
@Title :  Python program to change the score in row 'd' to 11.5.

'''


def update_data_frame(data,row,value):

    """
    Description:
        Function will change the score in row 'd' to 11.5

    Parameter:
        data: this is in dataframe format
        row: specifies which row we need to change 
        value: specifies the new value to be updated

    Return:
        None
    
    """
    
    print("original dataframe: ")
    print(data.loc[row])
    print(f"After changing the row {row} with a value {value}: ")
    data.loc[row,'score']=value
    print(data.loc[row])

def main():
    try:
        exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
                    'Laura', 'Kevin', 'Jonas'],
                    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
                    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}    

        labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
        data=pd.DataFrame(exam_data,index=labels)
        update_data_frame(data,'b',11.5)
            
    except ValueError as e:
        print(f"Invalid input -->{e}")    

if __name__=="__main__":
    main()

original dataframe:
name        Dima
score        9.0
attempts       3
qualify       no
Name: b, dtype: object
After changing the row b with a value 11.5:
name        Dima
score       11.5
attempts       3
qualify       no
Name: b, dtype: object

15. Write a Python program to calculate the sum of the examination attempts by the
students.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [42]:
'''

@Author:Naveen Madev Naik
@Date: 2024-08-08
@Last Modified by: Naveen Madev Naik
@Last Modified time: 2024-08-08 
@Title :Python program to calculate the sum of the examination attempts by the students.

'''


def sum_data_frame(data):

    """
    Description:
        Function will return the sum of examination attempts of the student

    Parameter:
        data: this is in dataframe format

    Return:
        None
    
    """

    print(f"The sum of examination attempts of the student: ")
    print(sum(data.loc[:,'attempts']))


def main():
    try:
        exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
                    'Laura', 'Kevin', 'Jonas'],
                    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
                    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}    

        labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
        data=pd.DataFrame(exam_data,index=labels)
        sum_data_frame(data)
            
    except ValueError as e:
        print(f"Invalid input -->{e}")    

if __name__=="__main__":
    main()

The sum of examination attempts of the student:
19

16. Write a Python program to calculate the mean score for each different student in
DataFrame.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [69]:
'''

@Author:Naveen Madev Naik
@Date: 2024-08-08
@Last Modified by: Naveen Madev Naik
@Last Modified time: 2024-08-08 
@Title :Python program to calculate the mean score for each different student in DataFrame.

'''


def mean_data_frame(data):

    """
    Description:
        Function will print the mean score for each different student in dataframe

    Parameter:
        data: this is in dataframe format

    Return:
        None
    
    """

    print(f"mean score for each student in dataframe: ")
    mean_scores = data.groupby('name')['score'].mean()
    print(mean_scores)


def main():
    try:
        exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
                    'Laura', 'Kevin', 'Jonas'],
                    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
                    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}    

        labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
        data=pd.DataFrame(exam_data,index=labels)
        mean_data_frame(data)
            
    except ValueError as e:
        print(f"Invalid input -->{e}")    

if __name__=="__main__":
    main()

mean score for each student in dataframe:
name
Anastasia    -1.0
Dima          9.0
Emily         9.0
James         NaN
Jonas        19.0
Katherine    16.5
Kevin         8.0
Laura         NaN
Matthew      14.5
Michael      20.0
Name: score, dtype: float64

17. Write a Python program to append a new row 'k' to data frame with given values for
each column. Now delete the new row and return the original DataFrame.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
Values for each column will be:
name : "Suresh", score: 15.5, attempts: 1, qualify: "yes", label: "k"

In [49]:
'''

@Author:Naveen Madev Naik
@Date: 2024-08-08
@Last Modified by: Naveen Madev Naik
@Last Modified time: 2024-08-08 
@Title :Python program to append a new row 'k' to data frame with given values for
        each column. Now delete the new row and return the original DataFrame.
'''


def append_new_row(data,row_data):

    """
    Description:
        Function will append the new row with given values

    Parameter:
        data: this is in dataframe format
        row_data:this is new data frame that we need to append to original dataframe

    Return:
        dataframe
    
    """

    data=data.append(row_data)
    return data
    




def main():
    try:
        exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
                    'Laura', 'Kevin', 'Jonas'],
                    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
                    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}    

        labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
        data=pd.DataFrame(exam_data,index=labels)
        new_row=pd.DataFrame({
            'name':'Suresh',
            'score':15.5,
            'attempts':1,
            'qualify':'yes'
        },index=['k'])
        # print("Original dataframe: ")
        # print(data)
        
        print("after appendig new row with values to the original dataframe: ")
        update_data=append_new_row(data,new_row)
        print(update_data)

        print("After deleting the new row: ")
        update_data=update_data.drop('k')
        print(update_data)
            
    except Exception as e:
        print(f"Invalid input -->{e}")    

if __name__=="__main__":
    main()

after appendig new row with values to the original dataframe:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes
After deleting the new row:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

C:\Users\naikn\AppData\Local\Temp\ipykernel_52536\693850931.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data=data.append(row_data)

18. Write a Python program to sort the DataFrame first by 'name' in descending order,
then by 'score' in ascending order.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [58]:
'''

@Author:Naveen Madev Naik
@Date: 2024-08-08
@Last Modified by: Naveen Madev Naik
@Last Modified time: 2024-08-08 
@Title :Python program to sort the DataFrame first by 'name' in descending order,
        then by 'score' in ascending order.
'''


def sort_data_frame(data):

    """
    Description:
        Function will sort the dataframe first by 'name' in descending order, then by 'score' in ascending order.

    Parameter:
        data: this is in dataframe format

    Return:
        dataframe
    
    """
    
            
    data=data.sort_values(by=['name', 'score'], ascending=[False, True])
    return data
    

def main():
    try:
        exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
                    'Laura', 'Kevin', 'Jonas'],
                    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
                    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}    

        labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
        data=pd.DataFrame(exam_data,index=labels)

        print("after sorting dataframe: ")
        print(sort_data_frame(data))
            
    except Exception as e:
        print(f"Invalid input -->{e}")    

if __name__=="__main__":
    main()

after sorting dataframe:
        name  score  attempts qualify
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
b       Dima    9.0         3      no
a  Anastasia   12.5         1     yes

19. Write a Python program to replace the 'qualify' column contains the values 'yes' and
'no' with True and False.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [60]:
'''

@Author:Naveen Madev Naik
@Date: 2024-08-08
@Last Modified by: Naveen Madev Naik
@Last Modified time: 2024-08-08 
@Title :Python program to replace the 'qualify' column contains the values 'yes' and
        'no' with True and False.
'''


def replace_data_frame(data):

    """
    Description:
        Function will replace the qualify column contains the value "yes" and 'no' with True and False.

    Parameter:
        data: this is in dataframe format

    Return:
        dataframe
    
    """
    data['qualify'] = data['qualify'].replace({'yes': True, 'no': False})
    return data
    

def main():
    try:
        exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
                    'Laura', 'Kevin', 'Jonas'],
                    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
                    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}    

        labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
        data=pd.DataFrame(exam_data,index=labels)

        print("After replacing: ")
        data=replace_data_frame(data)
        print(data)
            
    except Exception as e:
        print(f"Invalid input -->{e}")    

if __name__=="__main__":
    main()

After replacing:
        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d      James    NaN         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True

20. Write a Python program to delete the 'attempts' column from the DataFrame.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [61]:
'''

@Author:Naveen Madev Naik
@Date: 2024-08-08
@Last Modified by: Naveen Madev Naik
@Last Modified time: 2024-08-08 
@Title :Python program to delete the 'attempts' column from the DataFrame.

'''


def drop_column(data):

    """
    Description:
        Function will delete the 'attempts' column from the DataFrame

    Parameter:
        data: this is in dataframe format

    Return:
        dataframe
    
    """
    data= data.drop('attempts', axis=1)
    return data
    

def main():
    try:
        exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
                    'Laura', 'Kevin', 'Jonas'],
                    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
                    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}    

        labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
        data=pd.DataFrame(exam_data,index=labels)

        print("Original dataFrame: ")
        print(data)

        print("After replacing: ")
        print(drop_column(data))
            
    except Exception as e:
        print(f"Invalid input -->{e}")    

if __name__=="__main__":
    main()

Original dataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
After replacing:
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes

21. Write a Python program to insert a new column in existing DataFrame.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [64]:
'''

@Author:Naveen Madev Naik
@Date: 2024-08-08
@Last Modified by: Naveen Madev Naik
@Last Modified time: 2024-08-08 
@Title :Python program to insert a new column in existing DataFrame.

'''


def drop_column(data):

    """
    Description:
        Function will drop column in existing Dataframe

    Parameter:
        data: this is in dataframe format

    Return:
        dataframe
    
    """
    data= data.drop('attempts', axis=1)
    return data


def insert_column(data,new_col):

    """
    Description:
        Function will insert a new column in existing Dataframe

    Parameter:
        data: this is in dataframe format

    Return:
        dataframe
    
    """
    data['attempts']=new_col
    return data

    

def main():
    try:
        exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
                    'Laura', 'Kevin', 'Jonas'],
                    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
                    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}    

        labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
        data=pd.DataFrame(exam_data,index=labels)

        print("Original dataFrame: ")
        print(data)

        print("After replacing: ")
        print(drop_column(data))
        attempts=[1, 3, 2, 3, 2, 3, 1, 1, 2, 1]

        print("after inserting new column: ")
        print(insert_column(data,attempts))
            
    except Exception as e:
        print(f"Invalid input -->{e}")    

if __name__=="__main__":
    main()

Original dataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
After replacing:
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes
after inserting new column:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

22. Write a Python program to iterate over rows in a DataFrame.

In [66]:
'''

@Author:Naveen Madev Naik
@Date: 2024-08-08
@Last Modified by: Naveen Madev Naik
@Last Modified time: 2024-08-08 
@Title :Python program to iterate over rows in a DataFrame.

'''
    

def main():
    try:
        exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
                    'Laura', 'Kevin', 'Jonas'],
                    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
                    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}    

        labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
        data=pd.DataFrame(exam_data,index=labels)

        for index, row in data.iterrows():
            print(f"index: {index}")
            print(f"name: {row['name']}, score: {row['score']}, attempts: {row['attempts']}, qualify: {row['qualify']}\n")
        
            
    except Exception as e:
        print(f"Invalid input -->{e}")    

if __name__=="__main__":
    main()

index: a
name: Anastasia, score: 12.5, attempts: 1, qualify: yes

index: b
name: Dima, score: 9.0, attempts: 3, qualify: no

index: c
name: Katherine, score: 16.5, attempts: 2, qualify: yes

index: d
name: James, score: nan, attempts: 3, qualify: no

index: e
name: Emily, score: 9.0, attempts: 2, qualify: no

index: f
name: Michael, score: 20.0, attempts: 3, qualify: yes

index: g
name: Matthew, score: 14.5, attempts: 1, qualify: yes

index: h
name: Laura, score: nan, attempts: 1, qualify: no

index: i
name: Kevin, score: 8.0, attempts: 2, qualify: no

index: j
name: Jonas, score: 19.0, attempts: 1, qualify: yes

23. Write a Python program to get list from DataFrame column headers.
Sample data:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [67]:
'''

@Author:Naveen Madev Naik
@Date: 2024-08-08
@Last Modified by: Naveen Madev Naik
@Last Modified time: 2024-08-08 
@Title :Python program to get list from DataFrame column headers.

'''
    

def data_frame_column_to_list(data):

    """
    Description:
        Function will get list from DataFrame column headers.

    Parameter:
        data: this is in dataframe format

    Return:
        dataframe
    
    """
    column_headers = data.columns.tolist()
    return column_headers

def main():
    try:
        exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
                    'Laura', 'Kevin', 'Jonas'],
                    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
                    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}    

        labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
        data=pd.DataFrame(exam_data,index=labels)

        print("The list from Dataframe column headers is: ")
        print(data_frame_column_to_list(data))
        
            
    except Exception as e:
        print(f"Invalid input -->{e}")    

if __name__=="__main__":
    main()

The list from Dataframe column headers is:
['name', 'score', 'attempts', 'qualify']